body 
{
    background-color: lightcoral
}

.login_div1
{
    background-color: white;
    border-radius: 15px;
    width: 50%;
    padding: 10px;
}

.login_div2
{
    background-color: white;
    border-radius: 15px;
    width: 50%;
    padding: 10px;
}
